.Nav .navbar.light,
.Nav .navbar.light a,
.Nav .navbar.light .navbar-toggler-icon {
  background-color: #45046a;
  color: #f1ebbb;
}
.Nav .navbar.dark,
.Nav .navbar.dark a,
.Nav .navbar.dark .navbar-toggler-icon {
  background-color: #f1ebbb;
  color: #45046a;
}

.Nav .navbar-brand {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.4em;
}

.Nav .nav-link {
  font-weight: 400;
  font-size: 1.1em;
}
.navbar-toggler-icon {
  height: 100%;
}
